<div class="content-card" [ngClass]="{'last': last, 'news': type== 'news', 'story': type== 'story'}" >
  <p appTextDecoration [Some] = '"underline"'>
    {{stuff.title}}
  </p>
  <div *ngIf='stuff.imgUrl'>
    <img src="{{stuff.imgUrl}}" alt="{{stuff.body}}" (click)="clicked()">
  </div>
  <div *ngIf='!stuff.imgUrl'>
    <img src="https://bulma.io/images/bulma-logo.png" (click)="clicked()">
  </div>
  <p class="body">
    {{stuff.body}}
  </p>
  <p>
    {{index}}
  </p>
  <p>
    {{stuff.contentId}}
  </p>
  <p>
    {{stuff.author}}
  </p>
  <p>
    {{stuff.type}}
  </p>
  <p appTextDecoration [Some] = '"line-through"'>
    {{stuff.tags}}
  </p>
</div>
